{:deps
 {clj-time {:mvn/version "0.14.4"}
  org.clojure/clojure {:mvn/version "1.9.0"}
  cheshire {:mvn/version "5.8.1"}
  com.amazonaws/aws-java-sdk-cloudwatch {:mvn/version "1.11.428"},
  com.amazonaws/aws-java-sdk-logs {:mvn/version "1.11.428"},
  com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.11.428"}
  com.google.guava/guava {:mvn/version "22.0"}
  omnyway-labs/saw
  {:git/url "https://github.com/omnyway-labs/saw.git",
   :sha "323751f347eee8f08897c169ce1d668463ddf49c"}}}
